{% extends "base.html" %}
#{% block title %}Addrecipe{% endblock %}
{% block bodyId %}newrecipe{% endblock %}
{% block content %}

<h1> Add a new recipe </h1>

<form method= "get" class= "InlineForm">
    <p>
    <label for="newRecipeTitleInput"> Title: </label>
    <input type = "text" name = "newRecipeTitle" id="newRecipeTitleInput" />
    </p>
    <p>
    <label for="newRecipeInstructionsInput" contenteditable="true">Instructions: </label>
    <input type = "text" name = "newRecipeInstructions" id="newRecipeInstructionsInput" />
    </p>
    <p>
    <label for="newRecipeIngredientsInput"> Ingredients: </label>
    <input type = "text" name = "newRecipeIngredients" id="newRecipeIngredientsInput" />
    </p>
    <p>
    <label for="newRecipeNPeopleInput"> Number of people: </label>
    <input type = "text" name = "newRecipeNPeople" id="newRecipeNPeopleInput" />
    </p>
    <p>
    <input type = "submit" value = "Publish" />
    </p>

{%endblock%}