<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Soybean - {% block title%} Bienvenue{%endblock%}</title>

        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />


    </head>
    <body id="{%block bodyId %}genericPage{% endblock%}" >
    <header>
        {% block headerContent %}{%endblock%}
        </header>
        <section id="content">
        {% block content %} {% endblock %}
        </section>
        
        
    </body>
</html>
