{% extends "base.html" %}
#{% block title %}Connexion{% endblock %}
{% block bodyId %}loginPage{% endblock %}
{% block content %}

<h1 class="welcome_name" > Soybean, haute Cuisine </h1>
<form id="login_email_pass" action="/login" method="post"> {% csrf_token %}

    {{ban.as_p}}


    <div id="submit_login">
        <input id="submit_login_button1" name="submit_login_button" type="submit" value="Connect"/>
        <a href= '{% url "register"%}'>Create an account </a>
    </div>
</form>
{% endblock %}

