
{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block bodyId %}singleRecipePage{% endblock %}
{% block content %}

<h1 class="welcome_name">{{recipe_to_show.title}} , for {{recipe_to_show.number_people}} people  </h1>

    <div class="add_recipe_div">

        <p>
        {{recipe_to_show.description}}
        </p>

        <form name= "RecipeName" method= "post" class= "InlineForm"> {% csrf_token %}
            <div class="buttons">
                <input type="submit" name= "back_button_singlerecipe" value="Back to Homepage"/>
            </div>
        </form>
    </div>


{%endblock%}