
{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block bodyId %}welcomePage{% endblock %}
{% block content %}

<h1 class="welcome_name"> {{user.first_name}} {{user.last_name}},
Welcome on Soybean! </h1>



<div class="welcome_single_recipe" >
    <form action="/welcome" method="post"> {% csrf_token %}
        <input type="submit" value="Add a new recipe"/>

        <a href="searchingredients">"Search for ingredients"</a> <br>


        <a href="/logout">logout</a>

    </form>

    {% for recipe in Addedrecipe %}
        <div class="display_single_recipe">
            <form method="post"> {% csrf_token %}
                <a class= "welcome_box" href="singlerecipe?RecipeToShow={{recipe.id}}">{{recipe.title}}</a>

            </form>
        </div>
    {%endfor%}
</div>





{%endblock%}