
{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block bodyId %}welcomePage{% endblock %}
{% block content %}

<h1 id="welcome_name"> <strong>{{logged_user.name}} {{ logged_user.surname}},
Welcome on Soybean! </strong> </h1>

<form action="/welcome" method="post"> {% csrf_token %}
    <input type="submit" value="Add a new recipe"/>
</form>

<form method="post"> {% csrf_token %}
     <a href="searchingredients">"Search for ingredients"</a>

</form>



<ul>
{% for recipe in Addedrecipe %}

    <div>
        <form method="post"> {% csrf_token %}
            <a href="singlerecipe?RecipeToShow={{recipe.id}}">{{recipe.title}}</a>

        </form>
    </div>

{%endfor%}
</ul>





{%endblock%}